/web/wasm_exec.js
/web/micron.wasm
*.test
*.out
coverage.out
coverage.html
.DS_Store
/dist/
*.so
*.dylib
*.dll
!bindings/c/**
bindings/python/**/__pycache__/
bindings/python/**/*.egg-info/
bindings/python/build/
bindings/python/micron/libmicron.*
bindings/node/node_modules/
bindings/node/native/libmicron.*
bindings/rust/**/target/
bindings/java/**/target/
bindings/java/src/main/resources/natives/
bindings/csharp/**/bin/
bindings/csharp/**/obj/
bindings/csharp/runtimes/
bindings/ruby/vendor/
bindings/ruby/native/libmicron.*
bindings/php/native/libmicron.*
bindings/dart/.dart_tool/
bindings/dart/.packages
bindings/dart/native/libmicron.*
bindings/perl/native/libmicron.*
bindings/zig/.zig-cache/
bindings/zig/zig-out/
bindings/zig/native/libmicron.*
bindings/swift/.build/
bindings/swift/native/libmicron.*
